{%- if site.template.widgets contains "global_cmt" -%}
<div class = "rightElem shadowTile rightComt">
    <h1 class = "lstH1">Leave a Message</h1>
    <div id = "vcomments" style = "padding: 0.6rem 0.8rem 1rem 0.8rem;"></div>
    <script>
        new Valine({
            el: '#vcomments',
            appId: '{{ site.valine.appId }}',
            appKey: '{{ site.valine.appKey }}',
            lang: 'en',
            path: "home"
        });
        
        document.getElementById("veditor").setAttribute("rows", "1");
    </script>
</div>

<style>
    #vcomments{
        padding: 0.6rem 0.8rem 1rem 0.8rem;
        overflow-y: auto;
        max-height: calc(100% - 2.1rem);
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
    }

    #vcomments::-webkit-scrollbar{ /* WebKit */
        width: 0;
        height: 0;
    }

    .v[data-class=v] .vwrap .vheader .vinput {
        width: 100%;
    }

    .v[data-class=v] .vcards .vcard {
        padding-top: 0.9em;
    }

    .v[data-class=v] .veditor {
        min-height: 0px;
    }

    .v[data-class=v] .vsys{
        display: none;
    }

    .v[data-class=v] .vwrap .vheader .vinput:focus {
        border-bottom-color: #7a5a88;
    }

    .v[data-class=v] .vcards .vcard .vhead .vnick:hover {
        color: #0099ff;
    }

    .v[data-class=v] .vcards .vcard .vh .vmeta .vat {
        color: #0099ff;
    }
</style>
{%- endif -%}